.card .status_icon {
	display: inline-block;
	vertical-align: bottom;
	height: 23px;
	width: 27px;
}

.card .card_icon{
	vertical-align: bottom;
	height: 30px;
	width: 50px;
	overflow: hidden;
	text-align: left;
	text-indent: -999px;
}

/* --- Card Icon --- */
.card .card_icon {
	background: transparent url('../images/sprite-cards.png') no-repeat 0 0;
}

/* Need to support IE6 */
.card .card_icon.visa       { background-position:   0   0 !important; display: inline-block; }
.card .card_icon.mastercard { background-position: -55px 0 !important; display: inline-block; }
.card .card_icon.amex       { background-position: -110px 0 !important; display: inline-block; }
.card .card_icon.discover   { background-position: -165px 0 !important; display: inline-block; }
.card .card_icon.jcb   { background-position: -660px 0 !important; display: inline-block; }
.card .card_icon.diners  { background-position: -220px 0 !important; display: inline-block; }

/* --- Card Status --- */
.card .status_icon {
	background: transparent url('../images/status_sprites.png') no-repeat 33px 0;
}
.card .invalid              { color: #BE3131; }
.card .valid                { color: #31BB13; }
.card .invalid .status_icon { background-position: 3px 0 !important; }
.card .valid .status_icon   { background-position: -27px 0 !important; }